
.last-section{
    background-color: #293241;
    color: white;
}
.last-section-items li a {
    color: white;
    font-size: 20px;
}
.last-section-items li a:hover{
    color: #ee6c4d;
}
.footer-btn{
    background-color: #ee6c4d;
}
