<div class="bg-image">
    <h1 style="color: black;font-family:Sofia;text-align: center;">REVIEWS</h1>
    <p style="color: black;font-family:Sofia;text-align: center;font-size: larger;">from our clients</p>

    <form (ngSubmit)="updatecomment()" style="width: 100% ">
        <div class="bg-text">
            <input id="inputrev" type="text" class="form-control " placeholder="write your user_name" name="name" [(ngModel)]="this.datauser.name">
            <input id="inputrev" type="text" class="form-control " placeholder="write your comment" name="Description" [(ngModel)]="commentdes.Description">
            <br>
            <button id="inputrev" class="inputrevbutton" type="submit" id="button-addon2" style="display: flex;float: right;">
                <i class="fa-solid fa-paper-plane"></i>
            </button>

        </div>

    </form><br>

</div>