
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4  d-flex justify-content-center  align-items-center mt-5"  >


            <div class="wrapper" >

                <form [formGroup]="gameForm" class=' w-100 mt-5'>
                    <h3>Update My Profile</h3>
                    <div class="mb-3">
                        <input class="inputBox" type="text" class="form-control" id="name"    formControlName="name" placeholder="name ">
                        
                        
                        
                        @if(gameForm.controls['name'].invalid && gameForm.controls['name'].touched) { @if(gameForm.controls['name'].errors?.['required'])
                        {
                        <span> This field is required </span> } @if(gameForm.controls['name'].errors?.['minlength']) {
                        <span>Min length is 3 </span> }
                    
                    }
                    </div>

                    <div class="mb-3">
                        <input class="inputBox" type="text" class="form-control" id="image" formControlName="image" placeholder="image ">
                        
                        
                        
                        @if(gameForm.controls['image'].invalid && gameForm.controls['image'].touched) { @if(gameForm.controls['image'].errors?.['required'])
                        {
                        <span> This field is required </span> } @if(gameForm.controls['image'].errors?.['minlength']) {
                        <span>Min length is 3 </span> }
                    
                    }
                    </div>


                    <div class="mb-3">
                        <input class="inputBox" type="text" class="form-control" id="image" formControlName="phone" placeholder="phone">
                        
                        
                        
                        @if(gameForm.controls['phone'].invalid && gameForm.controls['phone'].touched) { @if(gameForm.controls['phone'].errors?.['required'])
                        {
                        <span> This field is required </span> } @if(gameForm.controls['phone'].errors?.['pattern']) {
                        <span>Inset number Egy</span> }
                    
                    }
                    </div>
                
                
    
                
                    <div class="mb-3">
                        <input class="inputBox" type="email" class="form-control" id="exampleInputEmail1" formControlName="email" placeholder="Email"> @if(gameForm.controls['email'].invalid && gameForm.controls['email'].touched) { @if(gameForm.controls['email'].errors?.['required'])
                        {
                        <span> This field is required </span> } @if(gameForm.controls['email'].errors?.['pattern']) {
                        <span>invalid format email </span> } }
                    </div>
                
                    <div class="mb-3">
                        <input class="inputBox" type="password" class="form-control" id="exampleInputPassword1" formControlName="password" placeholder="Password" /> @if(gameForm.controls['password'].invalid && gameForm.controls['password'].touched) { @if(gameForm.controls['password'].errors?.['required'])
                        {
                        <span> This field is required </span> } @if(gameForm.controls['password'].errors?.['minlength']) {
                        <span>Min length is 8 </span> } }
                    </div>
                   <!-- زر التحديث -->

<button class="btn btn-dark" (click)="openConfirmationModal(content)">Update  </button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm Update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure you want to update?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="update()">Confirm Update</button>
  </div>
</ng-template>
                
                
                    
                    
                   
                    @for (item of errorMessage; track $index) {

                        <p class="fw-bold text-danger">{{item}}</p>
                       }
                

                       {{resupdate.message
                       }}
                   
                
                </form>
                </div>

        </div>
        <div class="col-4"></div>

    </div>

    
</div>
