
    <div class="imgbody "></div>
    <div class="img2"></div>
    <div class="wrapper">

        <form [formGroup]="gameForm" (ngSubmit)="handleForm()">
            <h1>Log In</h1>
   

            <div class="mb-3">
                <input class="inputBox" type="email" class="form-control" id="exampleInputEmail1" formControlName="email" placeholder="Email"> @if(gameForm.controls['email'].invalid && gameForm.controls['email'].touched) { @if(gameForm.controls['email'].errors?.['required'])
                {
                <span> This field is required </span> } @if(gameForm.controls['email'].errors?.['pattern']) {
                <span>invalid format email </span> } }
            </div>

            <div class="mb-3">
                <input class="inputBox" type="password" class="form-control" id="exampleInputPassword1" formControlName="password" placeholder="Password" /> @if(gameForm.controls['password'].invalid && gameForm.controls['password'].touched) { @if(gameForm.controls['password'].errors?.['required'])
                {
                <span> This field is required </span> } @if(gameForm.controls['password'].errors?.['minlength']) {
                <span>Min length is 8 </span> } }
            </div>

            <button class="btn btn" type="submit">Log In</button>
            <br>
            <p class="d-inline-block register_link">You Don't have an account? </p>

            <a class="register_link d-inline-block " routerLink="/Singup">Sign Up</a>
<p class="text-danger">{{response.user}}</p>
        </form>
    </div>
