<div class="container">


    <table class="table">
        <thead>
            <tr>
                <th scope="col">Service ID</th>
                <th scope="col">Name OF Service</th>
                <th scope="col">service image</th>
                <th scope="col" style="text-align: center;">Edit</th>
                <th scope="col">Delete </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Chanage OLi</td>
                <td> <img src="/assets/oil.jpeg" class="card-img-top img" alt="...">
                </td>
                <td> <a href="#" class="btn btn-primary a">Edit</a>
                </td>
                <td> <a href="#" class="btn btn-primary b">Delete</a>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Periodic Inspection Service</td>
                <td> <img src="/assets/Periodic Inspection Service.jpg" class="card-img-top img" alt="...">
                </td>
                <td> <a routerLink="/Updateservice/{{data.id}}" class="btn btn-primary a">Edit</a>
                </td>
                <td> <a href="#" class="btn btn-primary b">Delete</a>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Brake Service</td>
                <td> <img src="/assets/Brake Service.jpg" class="card-img-top img" alt="...">
                </td>
                <td> <a href="#" class="btn btn-primary a">Edit</a>
                </td>
                <td> <a href="#" class="btn btn-primary b">Delete</a>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Tire Service</td>
                <td> <img src="/assets/Tire Service.jpg" class="card-img-top img" alt="...">
                </td>
                <td> <a href="#" class="btn btn-primary a">Edit</a>
                </td>
                <td> <a href="#" class="btn btn-primary b">Delete</a>
                </td>
            </tr>

        </tbody>
    </table>

</div>