<div class="wrapper">
    <aside class="dashboard" style="height: 100vh;">
        <h2> Dashboard</h2>
        <p>Welcome      <span class="fw-bold">{{resp.name}}</span></p>
        <nav>
            <ul>

                <div class="nav-items">
                    <div class="nav-item" (click)="activeComponent = 'homepage'">
                        <i class="fa-solid fa-gauge"></i>
                        <span>Dashboard</span>
                      
                    </div>
                    <div class="nav-item" (click)="activeComponent = 'createservice'">
                        <i class="fa-solid fa-plus"></i>
                        <span>Create services</span>
                    </div>
                    <div class="nav-item" (click)="activeComponent = 'viewservice'">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <span>My service</span>
                    </div>



                    
                    <div class="nav-item" (click)="activeComponent = 'orders'">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>orders</span>
                    </div>
                    <div class="nav-item" (click)="activeComponent = 'archive'">
                        <i class="fa-solid fa-box-archive"></i>
                        <span>archive orders</span>
                    </div>

                    <div class="nav-item" (click)="activeComponent = 'help'">
                        <i class="fa-solid fa-handshake-angle"></i>
                        <span>Help</span>
                    </div>
                </div>


            </ul>
        </nav>
    </aside>

    <div class="content">

        <ng-container *ngIf="activeComponent === 'createservice'">
            <app-serviceform></app-serviceform>
        </ng-container>


        <ng-container *ngIf="activeComponent === 'Updateservice'">
            <app-updateservice></app-updateservice>
        </ng-container>


        <ng-container *ngIf="activeComponent === 'viewservice'">
            <app-viewservice></app-viewservice>
        </ng-container>

        <ng-container *ngIf="activeComponent === 'orders'">
            <app-center-orders></app-center-orders>
        </ng-container>


    </div>
</div>
