<div class="imgbody ">
</div>
<div class="img2"></div>
<div class="wrapper">

    <form class="form-control" [formGroup]="serviceform" (ngSubmit)="handelForm($event)" enctype="multipart/form-data" >
        <h1>Create Services</h1>


        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" formControlName="name" placeholder="Name" /> @if(serviceform.controls['name'].invalid && serviceform.controls['name'].touched) { @if(serviceform.controls['name'].errors?.['required'])
            {
            <span style="color: red;"> This Name is required </span> } }
            <div *ngIf="serviceform.controls['name'].errors?.['minlength']">
                <span style="color: red;">Min Length Name 7  Characters!</span>
                {{ errorMessage.name }}
            </div>
        </div>



        <div class="col-sm-10 mt-2">
            <textarea type="text" class="form-control" id="description" placeholder="description" formControlName="description"></textarea>
            <!-- Display error message for required validation -->
            <div *ngIf="serviceform.controls['description'].invalid && serviceform.controls['description'].touched">
                <div *ngIf="serviceform.controls['description'].errors?.['required']">
                    <span style="color: red;">This description is required</span>
                </div>
                <!-- Display error message for minimum length validation -->
                <div *ngIf="serviceform.controls['description'].errors?.['minlength']">
                    <span style="color: red;">Description must be at least 10 characters long</span>

                    {{ errorMessage.description }}
                </div>

            </div>
        </div>


        <label for="phone" class="col-sm-2 col-form-label">phone </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="phone" formControlName="phone" /> @if(serviceform.controls['phone'].invalid && serviceform.controls['phone'].touched) { @if(serviceform.controls['phone'].errors?.['required']) {
            <span style="color: red;"> This phone is required </span> } }


  @if(serviceform.controls['phone'].errors?.['pattern'])
  {
    {{ errorMessage.phone }}
    <!--  all egyption number like 011 012 015 010 -->
    <div class="alert alert-danger p-2" role="alert">
   please insert a valid phone like 010********
    </div>
  }

        </div>


        <label for="phone" class="col-sm-2 col-form-label">Price </label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="Price" formControlName="price" /> @if(serviceform.controls['price'].invalid && serviceform.controls['price'].touched) { @if(serviceform.controls['price'].errors?.['required']) {
            <span style="color: red;"> This price is required </span> } }
        </div>







        <label for="" class="form-control">image</label>


        <div class="col-sm-10">
            <input type="file" (change)="onFileSelected($event)" class="form-control" id="image" formControlName="image" /> @if(serviceform.controls['image'].invalid && serviceform.controls['image'].touched) { @if(serviceform.controls['image'].errors?.['required']) {
            <span style="color: red;"> This image is required </span> }
            {{ errorMessage.image }}
        }
        </div>








        <label for="" class="form-control">Rating</label>

        <div class="col-sm-10">
            <input type="number" min="1"  class="form-control" id="rating" formControlName="rating" /> @if(serviceform.controls['rating'].invalid && serviceform.controls['rating'].touched) { @if(serviceform.controls['rating'].errors?.['required'])
            {
                {{ errorMessage.rating }}

            <span style="color: red;"> This rating is required </span> } }
        </div>







        <label for="" class="form-control">working_days</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="working_days" formControlName="working_days" /> @if(serviceform.controls['working_days'].invalid && serviceform.controls['working_days'].touched) { @if(serviceform.controls['working_days'].errors?.['required'])
            {
                {{ errorMessage.working_days }}
            <span style="color: red;"> This working_days is required </span> } }
        </div>









        <div class="col-sm-10">
            <select class="form-control" id="location" formControlName="location">
                  <option value="">Select Location</option>
                  <option value="Ain Shams">Ain Shams</option>
                  <option value="El dokki">El dokki</option>
                  <option value="Mokkatm">Mokkatm</option>
                  <option value="Elmaadi">Elmaadi</option>
                  <option value="Faisel">Faisel</option>
                  <option value="Fayoum">Fayoum</option>
                  <option value="Beni suif">Beni suif</option>
                  <option value="Minia">Minia</option>


              </select> @if(serviceform.controls['location'].invalid && serviceform.controls['location'].touched) { @if(serviceform.controls['locations'].errors?.['required']) {
            <span style="color: red;"> This location is required </span>
            {{ errorMessage.location }}
        } }
        </div>











        <div class="form-group">
            <label for="tag">Services</label>
            <ng-select [items]="services" bindLabel="value" bindValue="key" [closeOnSelect]="false" formControlName="services" [multiple]="true" style="width: 75%;"></ng-select>
            <div *ngIf="serviceform.controls['services'].invalid && serviceform.controls['services'].touched">
                <span style="color: red;"> This services is required </span>
                {{ errorMessage.services }}
            </div>
        </div>

        <!-- قائمة السيارات -->
        <div class="form-group">
            <label for="model">Models</label>
            <ng-select [items]="cars" bindLabel="value" bindValue="key" formControlName="cars" [closeOnSelect]="false" [multiple]="true" style="width: 75%;"></ng-select>
            <div *ngIf="serviceform.controls['cars'].invalid && serviceform.controls['cars'].touched">
                <span style="color: red;"> This Models is required </span>
                {{ errorMessage.cars }}
            </div>
        </div>










        <label for="" class="form-control">working_hours</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="working_hours" formControlName="working_hours" /> @if(serviceform.controls['working_hours'].invalid && serviceform.controls['working_hours'].touched) { @if(serviceform.controls['working_hours'].errors?.['required'])
            {
            <span style="color: red;"> This working_hours is required </span>

            {{ errorMessage.working_hours }}
        } }
        </div>

        <div class="d-flex justify-content-center mt-2">
            <input type="submit" style="background-color: #293241;"  [disabled]="!serviceform.valid" class="btn btn mt-2 text-white  pl-2" />

            <button type="button" class="btn btn mt-2 text-white " style="background-color:  #293241;"   (click)="resetForm()">Reset Form</button>

        </div>




        <p class="text-success fw-bold">{{msgres.message}}</p>



      </form>
      
              <div *ngFor="let day of days; let i = index">
                <div *ngIf="currentIndex === i">
                  <label for="day{{i}}">Day {{i + 1}}</label>
                  <input id="day{{i}}" type="text" [(ngModel)]="schedule[i].day">
                  <label for="startTime{{i}}">Start Time:</label>
                  <input id="startTime{{i}}" type="time" [(ngModel)]="schedule[i].startTime">
                  <label for="endTime{{i}}">End Time:</label>
                  <input id="endTime{{i}}" type="time" [(ngModel)]="schedule[i].endTime">
                  <button (click)="toggleVisibility(i)">Next</button>
                </div>
              </div>
</div>

@for (item of errorMessage; track $index) {

    <p class="fw-bold text-danger">{{item}}</p>
   }
