<div class="container mt-3">
  <div class="row">
  <div class="col-md-6 col-sm-12 m-auto">
    <h2 class="text-center" style="font-weight: bolder;color: #293241;">Add Service</h2>
    <div class="img-container">
      <img src="assets/mechanic-using-wrench-while-working-600nw-2184125681.jpg" alt="" class="w-100" style="height:600px;"/>
    </div>

  </div>
  <div class="col-md-6 col-sm-12 mt-2">
     
      <div class="form-container">
          <form class="form-control" [formGroup]="serviceform" (ngSubmit)="handelForm()">
              <label for="inputName" class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputName" formControlName="servicename" placeholder="service   Name"/>
                @if(serviceform.controls['servicename'].invalid && serviceform.controls['servicename'].touched) { @if(serviceform.controls['servicename'].errors?.['required'])
                {
                  <div class="alert alert-warning p-2" role="alert">
                    field is required
                   </div>
                } }
              </div>
              <label for="Category" class="col-sm-2 col-form-label">Category</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="Category" placeholder="Category"  formControlName="Category"/>
                @if(serviceform.controls['Category'].invalid && serviceform.controls['Category'].touched) { @if(serviceform.controls['Category'].errors?.['required'])
                {
                  <div class="alert alert-warning p-2" role="alert">
                    field is required
                   </div>
                } }
              </div>
              <label for="servicedetails" class="col-sm-2 col-form-label">details</label>
              <div class="col-sm-10">
                <textarea type="text" class="form-control" id="servicedetails" placeholder="servie details" formControlName="servicedetails"></textarea>
                @if(serviceform.controls['servicedetails'].invalid && serviceform.controls['servicedetails'].touched) { @if(serviceform.controls['servicedetails'].errors?.['required'])
                {
                  <div class="alert alert-warning p-2" role="alert">
                    field is required
                   </div>
                } }
              </div>
          
         


              <label for="imageurl" class="col-sm-2 col-form-label">imageurl </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="imageurl"  formControlName="imageurl"/>
                @if(serviceform.controls['imageurl'].invalid && serviceform.controls['imageurl'].touched) { @if(serviceform.controls['imageurl'].errors?.['required'])
                {
                  <div class="alert alert-warning p-2" role="alert">
                    field is required
                   </div>
                } }
              </div>



              
              <label for="rate" class="col-sm-2 col-form-label">rate </label>
              <div class="col-sm-10">
                <input type="number" min="1" max="5" class="form-control" id="rate"  formControlName="rate"/>
                @if(serviceform.controls['rate'].invalid && serviceform.controls['rate'].touched) { @if(serviceform.controls['rate'].errors?.['required'])
                {
                  <div class="alert alert-warning p-2" role="alert">
                    field is required
                   </div>
                } }
              </div>


                  
              <label for="Workingdays" class="col-sm-2 col-form-label">Workingdays </label>
              <div class="col-sm-10">
                <input type="text"  class="form-control" id="Workingdays"  formControlName="Workingdays"/>
                @if(serviceform.controls['Workingdays'].invalid && serviceform.controls['Workingdays'].touched) { @if(serviceform.controls['Workingdays'].errors?.['required'])
                {
                  <div class="alert alert-warning p-2" role="alert">
                    field is required
                   </div>
                } }
              </div>








              <label for="location" class="col-sm-2 col-form-label">location </label>
              <div class="col-sm-10">
                  <select class="form-control" id="location" formControlName="location">
                      <option value="">Select Location</option>
                      <option value="Ain Shams">Ain Shams</option>
                      <option value="El dokki">El dokki</option>
                      <option value="Mokkatm">Mokkatm</option>
                      <option value="Elmaadi">Elmaadi</option>
                      <option value="Faisel">Faisel</option>
                      <option value="Fayoum">Fayoum</option>
                      <option value="Beni suif">Beni suif</option>
                      <option value="Minia">Minia</option>

                      
                  </select>
                  @if(serviceform.controls['location'].invalid && serviceform.controls['location'].touched) { 
                      @if(serviceform.controls['location'].errors?.['required'])
                      {
                          <div class="alert alert-warning p-2" role="alert">
                              Field is required
                          </div>
                      } 
                  }
              </div>

              <label for="services" class="col-sm-2 col-form-label">services </label>
              <div class="col-sm-10">
                  <select class="form-control" id="services" formControlName="services">
                      <option value="">Select Service</option>
                      <option value="Mechanical">Mechanical</option>
                      <option value="Electrecity">Electrecity</option>
                      <option value="suspintion">suspintion</option>
                      <option value="Computer detiction">Computer detiction</option>
                      <option value="car Furniture">car Furniture</option>
                      <option value="Oil change">Oil change</option>
                      <option value="Car Wash">Car Wash</option>
              >
                     
                  </select>
                  @if(serviceform.controls['services'].invalid && serviceform.controls['services'].touched) { 
                      @if(serviceform.controls['services'].errors?.['required'])
                      {
                          <div class="alert alert-warning p-2" role="alert">
                              Field is required
                          </div>
                      } 
                  }
              </div>









              <div class="form-group">
                <label for="tag">Tags</label>
                <ng-select [items]="tag" bindLabel="value" bindValue="key"  [closeOnSelect]="false" formControlName="tag" [multiple]="true"></ng-select>
              </div>
              
              <div class="form-group">
                <label for="model">Models</label>
                <ng-select [items]="model" formControlName="model" [closeOnSelect]="false" [multiple]="true"></ng-select>
              </div>
              
              


              

          


              
              <label for="Workingtime" class="col-sm-2 col-form-label">Workingtime</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="Workingtime" formControlName="Workingtime" />
                @if(serviceform.controls['Workingtime'].invalid && serviceform.controls['Workingtime'].touched) { @if(serviceform.controls['Workingtime'].errors?.['required'])
                {
                  <div class="alert alert-warning p-2" role="alert">
                    field is required
                   </div>
                } }
              </div>
              <div class="d-flex justify-content-center mt-2">
                <input type="submit" style="background-color: #293241;" class="btn btn mt-2 text-white  pl-2"/>

                <button type="button"class="btn btn mt-2 text-white " style="background-color: #293241;" (click)="resetForm()">Reset Form</button>

              </div>
  
              
          </form>
      </div>
  </div>
</div>
</div>