

   




  <div class="card">
    <img src="../../assets/ser.jpg" class="card-img-top img-fluid" alt="Service Center Cover Image">
    <div class="card-img-overlay">
      <div class="position-relative d-inline-block">
        <img src="../../assets/ser.jpg" class="rounded-circle" alt="Circle Image" width="200">
      </div>
      <h3 class="card-title fw-bold fs-1">El Mikaneeky - ElNozha</h3>
      <p class="card-text">فرع (مدينة نصر2) شارع النزهة أمام الرقابة الإدارية</p>
      <p class="card-text">KIA BYD CHERY-SPERANZA DAEWOO HONDA HYUNDAI MAZDA MITSUBISHI RENAULT TOYOTA NISSAN SEAT SKODA
        SUBARU SUZUKI SSANGYONG VOLVO CITROËN DAIHATSU FIAT LADA OPEL PEUGEOT BMW Chevrolet VW Ford MERCEDES</p>


    </div>
  </div>
  <div class="card border mb-3 w-50 m-auto pt-3">
    <div class="card-header  fw-bold   text-center  text-body-tertiary" style="background-color: #083248; color: white !important;">
      Express Bosch Car Service - El Mikaneeky</div>
    <div class="card-body ">

      <p class="card-text text-dark fw-lighter text-center  card-des "> Express Bosch Car Service - El Mikaneeky is a
        trusted professional car servicing company that provides affordable solutions; with dealer accountability
        warranty and professionalism. El Mikaneeky is a trusted professional car servicing company that provides
        affordable solutions to the entire car market; with dealer accountability warranty and professionalism. We aim
        to grow our network to provide full coverage of our services and fill the gap between dealerships and regular
        local mechanic shops across the entire country. We strive to provide our customers with highest quality and
        guarantee, best prices, and the convenience that they deserve.</p>
    </div>
  </div>

  <div class="container px-4 py-5 shadow-lg" id="hanging-icons">
    <h2 class="pb-2 border-bottom" style="color: #083248;"> <span class="fw-bold "
        style="color: #083248;">S</span>ervice</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <i style="color: #083248;" class="fa-solid fa-car-tunnel"></i>
        </div>
        <div>
          <h3 style="color: #083248;">Automotive Care </h3>
          <p class="mt-4">
            Quality and Efficiency in Serving Our Customers
          </p>
          <hr>
        </div>
      </div>
      <div class="col d-flex align-items-start ">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <i style="color: #083248;" class="fa-solid fa-soap"></i>
        </div>
        <div>
          <h3 style="color: #083248;">Car Cleaning </h3>
          <p class="mt-4">
            The Optimal Solution for Maintaining Your Car's Beauty
          </p>
          <hr>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <i style="color: #083248;" class="fa-solid fa-screwdriver-wrench"></i>
        </div>
        <div>
          <h3 style="color: #083248;">Car Repair </h3>
          <p class="mt-4">
            Experience and Professionalism in Restoring Your Car to Its Best Condition
          </p>
          <hr>
        </div>
      </div>
    </div>
  </div>

  <!-- car tags -->
  <h3 class="text-center mt-2">Tags:</h3>
  <hr>

  <div class="container">
    <div class="row">
      <div class="col-9 lh-1 mt-3">
        <div class="row">
          <div class="col-lg-4 col-6">
            <p> <i class="fa-solid fa-tag"></i> Mechanical</p>

            <p> <i class="fa-solid fa-tag"></i> Car Denting</p>
            <p> <i class="fa-solid fa-tag"></i> lubricants</p>
            <p> <i class="fa-solid fa-tag"></i> A/C Charge</p>
            <p> <i class="fa-solid fa-tag"></i> Computer detection</p>
            <p> <i class="fa-solid fa-tag"></i> Oil Change Offers + Preventive</p>

          </div>
          <div class="col-lg-4 col-6">
            <p> <i class="fa-solid fa-tag"></i> Electricity</p>

            <p> <i class="fa-solid fa-tag"></i> paints</p>
            <p> <i class="fa-solid fa-tag"></i> Tires and batteries</p>
            <p> <i class="fa-solid fa-tag"></i> Radiator</p>
            <p> <i class="fa-solid fa-tag"></i> Car wash and care</p>
            <p> <i class="fa-solid fa-tag"></i> El-Mikaneeky BOSCH</p>

          </div>

          <div class="col-lg-4 col-6">
            <p> <i class="fa-solid fa-tag"></i> Suspensions</p>

            <p> <i class="fa-solid fa-tag"></i> brakes</p>
            <p> <i class="fa-solid fa-tag"></i> gear box</p>
            <p> <i class="fa-solid fa-tag"></i> Fast Service</p>
            <p> <i class="fa-solid fa-tag"></i> Insurance companies</p>
            <p> <i class="fa-solid fa-tag"></i> Labor fees Discount</p>

          </div>

        </div>



      </div>
      <div class="col-3 mt-5">

        <img src="../../assets/tag.png"  class="card-img-bottom img-fluid m-5 w-50" alt="Service Center Cover Image">
      </div>
    </div>
  </div>

  <!-- car modeal -->

  <h3 class="text-center mt-2">Car Model</h3>
  <hr>

  <div class="container">
    <div class="row">
      <div class="col-9 lh-1 mt-3">
        <div class="row">
          <div class="col-lg-4 col-6">
            <p> <i class="fa-solid fa-tag"></i> LADA</p>

            <p> <i class="fa-solid fa-tag"></i> OPEL</p>
            <p> <i class="fa-solid fa-tag"></i> PEUGEOT</p>
            <p> <i class="fa-solid fa-tag"></i> BMW</p>
            <p> <i class="fa-solid fa-tag"></i> Chevrolet</p>
            <p> <i class="fa-solid fa-tag"></i> VW</p>
            <p> <i class="fa-solid fa-tag"></i> Ford</p>
            <p> <i class="fa-solid fa-tag"></i> MERCEDES</p>
          </div>
          <div class="col-lg-4 col-6">
            <p> <i class="fa-solid fa-tag"></i> SEAT</p>

            <p> <i class="fa-solid fa-tag"></i> NISSAN</p>
            <p> <i class="fa-solid fa-tag"></i> SKODA</p>
            <p> <i class="fa-solid fa-tag"></i> SUBARU</p>
            <p> <i class="fa-solid fa-tag"></i> SUZUKI</p>
            <p> <i class="fa-solid fa-tag"></i> SSANGYONG</p>
            <p> <i class="fa-solid fa-tag"></i> VOLVO</p>
            <p> <i class="fa-solid fa-tag"></i> CITROËN</p>
            <p> <i class="fa-solid fa-tag"></i> DAIHATSU</p>
            <p> <i class="fa-solid fa-tag"></i> FIAT</p>

          </div>

          <div class="col-lg-4 col-6">










            <p> <i class="fa-solid fa-tag"></i> KIA</p>
            <p> <i class="fa-solid fa-tag"></i>BYD </p>
            <p> <i class="fa-solid fa-tag"></i>CHERY-SPERANZA </p>
            <p> <i class="fa-solid fa-tag"></i> DAEWOO </p>
            <p> <i class="fa-solid fa-tag"></i> HYUNDAI </p>
            <p> <i class="fa-solid fa-tag"></i> HONDA </p>
            <p> <i class="fa-solid fa-tag"></i> MAZDA</p>
            <p> <i class="fa-solid fa-tag"></i> MITSUBISHI </p>
            <p> <i class="fa-solid fa-tag"></i> RENAULT </p>
            <p> <i class="fa-solid fa-tag"></i>TOYOTA </p>

          </div>

        </div>















      </div>
      <div class="col-3 mt-5">

        <img src="../../assets/car.png" class="card-img-bottom img-fluid m-5 w-50" alt="Service Center Cover Image">
      </div>
    </div>
  </div>



<!-- form  -->
<div class="row">
  <div class="col-6 m-5">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">First Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Last Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

      
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Phone</label>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Write the service you need</label>
        <textarea class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
      
      </div>
      <div class="mb-3">

        <label for="exampleInputEmail1" class="form-label">Date</label>
        <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
    
  
      <button type="submit" class="btn btn-danger w-50 p-3">Submit Your Booking</button>
    </form>
  </div>
</div>
<!-- form  -->


<!-- الجدول -->

<div class="container">
  <div class="row">
    <div class="col-lg-6">

      <div class="card-body border text-center w-75 ">
        <img src="../../assets/ser.jpg" width="90" alt="" srcset="">
        <h5 class="text-center">El Mikaneeky - ElNozha</h5>
         <a href="tel:01128058368" class="btn btn-secondary "> Contact</a>
    
      </div>




      <div class="table-responsive ">
        <table class="table w-50 ">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Start Time</th>
                    <th>End Time</th>
               
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td>Monday </td>
                    <td>9:00 </td>
                    <td>19:00</td>
           
                </tr>

                <tr>
                  <td>Tuesday </td>
                    <td>9:00 </td>
                    <td>19:00</td>
           
                </tr>


                <tr>
                  <td>Wednesday </td>
                    <td>9:00r </td>
                    <td>19:00</td>
           
                </tr>
                <tr>
                  <td>Thursday   </td>
                    <td>9:00 </td>
                    <td>19:00</td>
           
                </tr>
                <tr>
                  <td>Friday </td>
                    <td>9:00 </td>
                    <td>19:00</td>
           
                </tr>
                <tr>
                  <td>Saturday </td>
                    <td>9:00</td>
                    <td>19:00</td>
           
                </tr>
            </tbody>
        </table>
    </div>
    <p>Adress:</p>
    <div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 500px">
      <iframe src="https://maps.google.com/maps?q=chicago&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
         allowfullscreen></iframe>
    </div>
  
 









    </div>
    <div class="col-3">


    </div>
  </div>
</div>

