
.badge {
    background-color: red;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    font-size: 25px;
  }

.card {
    height: 50vh;
}

.card-img-top {
    height: 50vh;
    object-fit: cover;
}

.card-img-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.card-title {
    color: white;
    font-size: 24px;
}

.card-text {
    color: white;
    line-height: 30px;
}

#pointer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: rgb(6, 35, 57);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 3;
}

.card-des {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 35px;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
}

.icon-link {
    display: inline-flex;
    align-items: center;
}

.icon-link>.bi {
    margin-top: .125rem;
    margin-left: .125rem;
    transition: transform .25s ease-in-out;
    fill: currentColor;
}

.icon-link:hover>.bi {
    transform: translate(.25rem);
}

.icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .75rem;
}

.rounded-4 {
    border-radius: .5rem;
}

.rounded-5 {
    border-radius: 1rem;
}

.text-shadow-1 {
    text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
}

.text-shadow-2 {
    text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
}

.text-shadow-3 {
    text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25);
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#texxxt {
    color: var(--main-color);
}

#btnstyle {
    background-color: var(--main-color);
}

 :host {
    --main-color: rgb(6, 35, 57);
    /* Define your CSS variable */
}


/* star rating */

.star-wrapper {
    position: absolute;
    direction: rtl;
}

.star-wrapper a {
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
    margin: 4px;
}

.star-wrapper a:hover {
    color: gold;
    transform: scale(1.3);
}

.s1:hover~a {
    color: gold;
}

.s2:hover~a {
    color: gold;
}

.s3:hover~a {
    color: gold;
}

.s4:hover~a {
    color: gold;
}

.s5:hover~a {
    color: gold;
}

.wraper {
    position: absolute;
    bottom: 30px;
    right: 50px;
}

fa-icon {
    color: rgb(87, 86, 86);
    font-size: 25px;
    &.rated {
        color: gold;
    }
    transition: color 0.3s eass-in-out;
}

.rate {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.rate h1 {
    text-align: center;
    color: #062339;
}


/* -------------------comments------------------ */

.commentContainer {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.CommentHolder {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-left: 1px solid rgb(111, 128, 150);
    border-right: 1px solid rgb(111, 128, 150);
    border-radius: 10px;
    background-color: #EEF2F5;
    padding-top: 20px;
}

.comment {
    width: 95%;
}

.audienceComments {
    width: 95%;
    margin-top: 30px;
}

.commentCard {
    padding: 10px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.4);
    transition: transform 0.5s ease;
}

.commentCard:hover {
    transform: scale(1.02);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4);
}

.commentCard h5 {
    color: #356FFD;
    position: relative;
}

.commentCard h5 i {
    color: #28A745;
    margin-right: 5px;
    font-size: 18px;
    position: relative;
    top: -2px;
}

.commentCard h5 span {
    font-size: 16px;
    margin-left: 10px;
    color: #23459c;
}

.commentCard p {
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.likeDislike {
    float: right;
    position: relative;
    bottom: 14px;
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.likeDislike i {
    font-size: 20px;
    color: gray;
    cursor: pointer;
    margin-bottom: 20px;
}

.likeDislike i:hover {
    transform: scale(1.04);
}

.likeDislike #like {
    color: #356FFD;
    margin-left: 5px;
}

.likeDislike div span {
    color: #356FFD;
    font-weight: 600;
}

#cardreview:hover {
    background-color: darkgoldenrod;
}

#cardreview {
    margin-right: 20px;
    margin-left: 20px;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 10px;
    top: 20px;
    height: 170px;
    display: inline-block;
}

.rev {
    background-image: url(/assets/rev.jpg);
    width: 75%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

.bg-image {
    /* The image used */
    background-image: url(/assets/rev.jpg);
    opacity: 0.9;
    /* Add the blur effect */
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Position text in the middle of the page/image */

.bg-text {
    margin-bottom: 10px;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/opacity/see-through */
    color: white;
    border-radius: 40px;
    position: relative;
    left: 30%;
    top: 15%;
    width: 600px;
    height: 170px;
    padding: 20px;
    text-align: center;
}

#inputrev {
    border-radius: 30px;
    margin-bottom: 10px;
}

.send-icon {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.1);
    /* Black w/opacity/see-through */
    color: white;
    border: none;
}

.inputrevbutton {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.1);
    /* Black w/opacity/see-through */
    color: white;
    border: none;
}
.servicee
{
  display: flex;
  justify-content: center;
}
