<div class="landing">
    <div class="landingContent">
      <img src="../../assets/homeAssets/logo.svg" alt="">
      <div>
        <h1>Drive with Confidence, Maintain with Care: Your Journey, Our Priority.</h1>
        <a class="btn btnlanding"  routerLink="Singup" ><span >signup</span><em></em></a>
      </div>
    </div>
  </div>
  <!-- section 2 -->  <button id="pointer" (click)="goToTop()" class="rounded-5 "><i class="fa-solid fa-up-long"></i> </button>

  <div class="section2">
    <div class="video">
      <video controls autoplay loop>
        <source src="../../assets/homeAssets/production_id_4489878 (2160p).mp4">

      </video>
    </div>

    <div class="analysis">
      <div class="anaInfo">
        <h1>7k</h1>
        <p> <i class="fa-solid fa-car"></i>cars servied</p>

      </div>
      <div class="anaInfo">
        <h1>+15 </h1>
        <p> <i class="fa-solid fa-bell-concierge"></i>service</p>
      </div>
      <div class="anaInfo">
        <h1>70%</h1>
        <p> <i class="fa-solid fa-person"></i>comeback</p>
      </div>
    </div>

    <h1>highest rating service</h1>
    <section class="cardsholder">
      <a  class="data-card">
        <span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
        <h3>270</h3>
        <h4>oil filtration</h4>
        <p>Aenean lacinia bibendum nulla .</p>
        <span class="link-text" routerLink="service">
          go to service
          <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z"
              fill="#753BBD" />
          </svg>
        </span>
      </a>
      <a href="#" class="data-card">
        <span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>

        <h3>200</h3>
        <h4>Air filter</h4>
        <p>Etiam porta sem malesuada.</p>
        <span class="link-text" routerLink="service">
          go to service
          <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z"
              fill="#753BBD" />
          </svg>
        </span>
      </a>
      <a href="#" class="data-card">
        <span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>

        <h3>1000</h3>
        <h4>spark plugs</h4>
        <p>Etiam porta sem malesuada.</p>
        <span class="link-text" routerLink="service">
          go to service
          <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z"
              fill="#753BBD" />
          </svg>
        </span>
      </a>
      <a href="#" class="data-card">
        <span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>

        <h3>1000</h3>
        <h4>spark plugs</h4>
        <p>Etiam porta sem malesuada.</p>
        <span class="link-text" routerLink="service">
          go to service
          <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z"
              fill="#753BBD" />
          </svg>
        </span>
      </a>
    </section>
  </div>




  <!-- section 3 -->
  <div class="section3">
    <div class="container">
      <div class="shadows">

        <span>C</span>
        <span>A</span>
        <span>R</span>
        <span>S</span>
        <span>W</span>
        <span>E</span>
        <span>S</span>
        <span>E</span>
        <span>R</span>
        <span>V</span>
        <span>e</span>
      </div>
      <!-- cars cards -->
    </div>
    <div class="containerCar">
      <div class="img" class="row"></div>
      <img src="../../assets/homeAssets/car1.jpg" class="" alt="">
      <img src="../../assets/homeAssets/car2.jpg" alt="">
      <img src="../../assets/homeAssets/car3.jpg" alt="">
    </div>
  </div>


  <!-- about us -->
  <div class="aboutus" id="aboutus">
    <div class="glass-container">
      <div class="glass-content">
        <img src="../../assets/homeAssets/carXterme.svg" alt="">
        <p>Car maintenance is an essential aspect of ensuring the longevity and optimal performance of your vehicle.
          Regular maintenance not only enhances safety on the road but also contributes to significant cost savings in
          the long run. One fundamental aspect of car care is routine fluid checks and changes, including engine oil,
          transmission fluid, brake fluid, and coolant. Properly inflated tires not only improve fuel efficiency but
          also provide better traction and handling. Regular brake inspections and replacements ensure effective
          stopping power, while changing air filters promotes efficient fuel combustion. Additionally, timely
          replacement of worn-out spark plugs and ignition components contributes to smooth engine operation and fuel
          efficiency. The importance of regular inspections beneath the hood extends to the battery, belts, and hoses,
          addressing potential issues before they escalate. Exterior care, such as washing and waxing, protects the
          vehicle's paint and prevents corrosion. Furthermore, attention to the interior, including cleaning and
          conditioning, enhances comfort and retains the car's resale value. Adhering to a comprehensive car
          maintenance schedule, often outlined in the owner's manual, not only preserves the vehicle's integrity but
          also promotes a safe, reliable, and enjoyable driving experience for years to come.</p>
      </div>
    </div>
  </div>



  <!-- contact form -->
  <section class="contact">

    <h1 class="section-header">Contact</h1>

    <div class="contact-wrapper">

      <!-- Left contact page -->

      <form id="contact-form" class="form-horizontal" role="form" id="contact">

        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="" required>
          </div>
        </div>

        <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message" required></textarea>

        <button class="btn btn-primary sendbutton" id="submit" type="submit" value="SEND">
          <div class="altsendbutton">
            <i class="fa fa-paper-plane"></i><span class="sendtext">SEND</span>
          </div>

        </button>

      </form>

      <!-- Left contact page -->

      <div class="direct-contact-container">

        <ul class="contact-list">
          <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">beni seuf,
                iti</span></i></li>

          <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a
                  href="tel:1-212-555-5555" title="Give me a call">(212) 555-2368</a></span></i></li>

          <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#"
                  title="Send me an email">shoiebgmail.com</a></span></i></li>

        </ul>

        <hr>
        <ul class="social-media-list">
          <li><a href="#" target="_blank" class="contact-icon">
              <i class="fa-brands fa-whatsapp"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
              <i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
              <i class="fa-brands fa-google"></i></a>
          </li>
        </ul>
        <hr>

      </div>

    </div>

  </section>



