<div class="landing">
    <div class="landingContent">
        <div class="bg-text">
            <h1>Car Maintenance Repair and <span style="color:gold;">Detailing</span> with expert hands</h1>
            <h1>Drive with <span style="color:gold;"> Maintain</span>, with Care: Your Journey, Our Priority.</h1>

            <a style="margin-top: 50px; background-color: #031b2b; border-radius: 20px;" class="btn btnlanding" href="http://localhost:4200/Singup"><span >signup</span><em></em></a>
        </div>
    </div>
</div>
<!-- section 2 --><button id="pointer" (click)="goToTop()" class="rounded-5 "><i class="fa-solid fa-up-long"></i> </button>

<div class="section2">
    <!-- <div class="video">
        <video controls autoplay loop>
        <source src="../../assets/homeAssets/production_id_4489878 (2160p).mp4">

      </video>
    </div> -->
    <div style="padding-left:40px ;color: white;">

        <p style="font-size: x-large;color: darkgoldenrod;padding-top: 30px;">OUR SERVICE LIST</p>
        <h3>Providing All Types Of<br> Car <span style="color: darkgoldenrod;">Maintenance</span> Service</h3>
    </div>


    <section class="cardsholder">
        <a class="data-card">
            <h4 style="text-align: center; color: darkgoldenrod;">Ceramic Coating </h4>
            <p style="font-size:small;color:black;margin-top: -20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod</p>
            <div style="margin-top: 20px;">
                <div style=" display: flex;
                justify-content:center;
              margin-top:-30px; height:80px;width:80px;border-radius: 50%;background-color:darkgoldenrod;margin-left:80px;background-size: contain;">
                    <img src="/assets/car-service.png" style="margin-top: 10px; height:50px;width:50px;border-radius: 50%;" alt="">
                </div>
                <img src="/assets/d1.jpg" style="width: 100%;height:190px;margin-top:3px;" alt="">


            </div>


        </a>
        <a class="data-card">
            <h4 style="text-align: center; color: darkgoldenrod;"> Engine Oil Changing </h4>
            <p style="font-size:small;color:black;margin-top: -20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod</p>
            <div style="margin-top: 20px;">
                <div style=" display: flex;
                justify-content:center;
              margin-top:-30px; height:80px;width:80px;border-radius: 50%;background-color:darkgoldenrod;margin-left:80px;background-size: contain;">
                    <img src="/assets/vehicle.png" style="margin-top: 10px; height:50px;width:50px;border-radius: 50%;" alt="">
                </div>
                <img src="/assets/oil.jpeg" style="width: 100%;height:190px;margin-top:3px;" alt="">


            </div>


        </a>
        <a class="data-card">
            <h4 style="text-align: center; color: darkgoldenrod;"> Hydro Dripping </h4>
            <p style="font-size:small;color:black;margin-top: -20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod</p>
            <div style="margin-top: 20px;">
                <div style=" display: flex;
                justify-content:center;
              margin-top:-30px; height:80px;width:80px;border-radius: 50%;background-color:darkgoldenrod;margin-left:80px;background-size: contain;">
                    <img src="/assets/mechanical.png" style="margin-top: 10px; height:50px;width:50px;border-radius: 50%;" alt="">
                </div>
                <img src="/assets/div3.jpg" style="width: 100%;height:190px;margin-top:3px;" alt="">


            </div>


        </a>
        <a class="data-card">
            <h4 style="text-align: center; color: darkgoldenrod;"> Ceramic Coating </h4>
            <p style="font-size:small;color:black;margin-top: -20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod</p>
            <div style="margin-top: 20px;">
                <div style=" display: flex;
                justify-content:center;
              margin-top:-30px; height:80px;width:80px;border-radius: 50%;background-color:darkgoldenrod;margin-left:80px;background-size: contain;">
                    <img src="/assets/car-repair.png" style="margin-top: 10px; height:50px;width:50px;border-radius: 50%;" alt="">
                </div>
                <img src="/assets/div4.jpg" style="width: 100%;height:190px;margin-top:3px;" alt="">


            </div>


        </a>
        <br>
    </section>
    <h1 style="color: white; text-align: center;margin-top:60px;">Why Choose
        <Span style="color: darkgoldenrod;">CarXterme</Span> </h1>

    <div style="width: 100%;">
        <img src="/assets/mechanic-using-wrench-while-working-600nw-2184125681.jpg" alt="" style="width:30%;height:350px; margin-left:100px;margin-top:20px;">

        <div style=" width:60%;display: inline-block; height:350px;display: flex;float: right;margin-right:-60px;">
            <div style="width:30%;display: inline-block;background-color:darkgoldenrod;height:200px;">
                <img src="/assets/car-service.png" alt="" style="width:50px;margin-top: 20px;margin-left: 10px;">
                <h6 style="padding-left:10px ;">Car Protection & Fitness<br> Checking facilty</h6>
                <p style="padding-left:10px ;font-size: small;"> When you bring your vehicle to Ducatibox Car Mechanic Center, you can rest easy knowing that your vehicle is in professional hands. We take every possible step.</p>
            </div>
            <div style="width:30%;display: inline-block;background-color:white;height:200px;">
                <img src="/assets/vehicle.png" alt="" style="width:50px;margin-top: 20px;margin-left: 10px;">
                <h6 style="padding-left:10px ;">Complimentary Car

                    <br> Wash Facility & Fitness</h6>
                <p style="padding-left:10px ;font-size: small;">When you bring your vehicle to Ducati box Car Mechanic Center, you can rest easy knowing that your vehicle is in professional hands. We take every possible step.</p>

            </div>

        </div>
        <div style="width:60%;display: inline-block;height:350px;display: flex;float: right;margin-top: -150px;margin-right:-60px;">
            <div style="width:30%;display: inline-block;background-color:white;height:200px;">
                <img src="/assets/mechanical.png" alt="" style="width:50px;margin-top: 20px;margin-left: 10px;">
                <h6 style="padding-left:10px ;"> Expert Engine &<br> Balancing </h6>
                <p style="padding-left:10px ;font-size: small;">
                    When you bring your vehicle to Ducatibox Car Mechanic Center, you can rest easy knowing that your vehicle is in professional hands. We take every possible step.

                </p>

            </div>
            <div style="width:30%;display: inline-block;background-color:darkgoldenrod;height:200px;">
                <img src="/assets/car-repair.png" alt="" style="width:50px;margin-top: 20px;margin-left: 10px;">
                <h6 style="padding-left:10px ;">Wingshield &<br>glass Repair</h6>
                <p style="padding-left:10px ;font-size: small;">
                    When you bring your vehicle to Ducatibox Car Mechanic Center, you can rest easy knowing that your vehicle is in professional hands. We take every possible step.
                </p>

            </div>

        </div>
    </div>


</div>

<div class="aboutus" id="aboutus">
    <div class="glass-container">
        <div class="glass-content">
            <img src="../../assets/homeAssets/carXterme.svg" alt="">
            <p>Car maintenance is an essential aspect of ensuring the longevity and optimal performance of your vehicle. Regular maintenance not only enhances safety on the road but also contributes to significant cost savings in the long run. One fundamental
                aspect of car care is routine fluid checks and changes, including engine oil, transmission fluid, brake fluid, and coolant. Properly inflated tires not only improve fuel efficiency but also provide better traction and handling. Regular
                brake inspections and replacements ensure effective stopping power, while changing air filters promotes efficient fuel combustion. Additionally, timely replacement of worn-out spark plugs and ignition components contributes to smooth engine
                operation and fuel efficiency. The importance of regular inspections beneath the hood extends to the battery, belts, and hoses, addressing potential issues before they escalate. Exterior care, such as washing and waxing, protects the vehicle's
                paint and prevents corrosion. Furthermore, attention to the interior, including cleaning and conditioning, enhances comfort and retains the car's resale value. Adhering to a comprehensive car maintenance schedule, often outlined in the
                owner's manual, not only preserves the vehicle's integrity but also promotes a safe, reliable, and enjoyable driving experience for years to come.</p>
        </div>
    </div>
</div>


<!-- about us -->




<!-- contact form -->
<section style="display: block;" class="contact">

    <h4 class="section-header">Do you want to subscribe? As our service provider</h4>

    <div class="contact-wrapper">

        <!-- Left contact page -->
       
        <form id="contact-form" class="form-horizontal" [formGroup]="gameForm" (ngSubmit)="handelForm()" role="form" id="contact">

     
            <div class="form-group">
                <div class="col-sm-12">
                <input class="inputBox" type="text" class="form-control" id="name" formControlName="name" placeholder="name "> @if(gameForm.controls['name'].invalid && gameForm.controls['name'].touched) { @if(gameForm.controls['name'].errors?.['required'])
                {
                <span> This field is required </span> } @if(gameForm.controls['name'].errors?.['minlength']) {
                <span>Min length is 3 </span> } }
            </div>
            </div>


            <div class="form-group">
                <div class="col-sm-12">
                <input class="inputBox" type="text" class="form-control" id="phone" formControlName="phone" placeholder="phone "> 
                
                @if(gameForm.controls['phone'].invalid && gameForm.controls['phone'].touched)
                {
                  @if(gameForm.controls['phone'].errors?.['required'])
                  {
                    <div class="alert alert-warning p-2" role="alert">
                     field is required
                    </div>
                  }
                
                  @if(gameForm.controls['phone'].errors?.['pattern'])
                  {
                    <div class="alert alert-danger p-2" role="alert">
                   please insert a valid phone like 010********
                    </div>
                  }
                
                
                }

            
            </div>
            </div>

            <div class="col-sm-12">
                <textarea class="inputBox form-control" id="message" formControlName="message" placeholder="Message"></textarea>
                
                @if(gameForm.controls['message'].invalid && gameForm.controls['message'].touched) 
                { 
                    @if(gameForm.controls['message'].errors?.['required'])
                    {
                        <span>This field is required</span> 
                    } 
                }
            
                @if(gameForm.controls['message'].errors?.['minlength'])
                {
            
                    <div class="alert alert-danger p-2" role="alert">
                        Please send a message larger than 10 characters
                    </div>
                }
            </div>


    <p class="fw-bold fs-5">{{resmassge}}</p>


            <button class="btn btn-primary sendbutton" id="submit" type="submit" value="SEND">


          <div class="altsendbutton">





            
            <i class="fa fa-paper-plane"></i><span class="sendtext">SEND</span>
          </div>

        </button>

        </form>

        <!-- Left contact page -->

        <div class="direct-contact-container">

            <ul class="contact-list">
                <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">beni seuf,
                iti</span></i></li>

                <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a
                  href="tel:1-212-555-5555" title="Give me a call">(212) 555-2368</a></span></i></li>

                <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#"
                  title="Send me an email">G3BaniSuif.com</a></span></i></li>

            </ul>

            <hr>
            <ul class="social-media-list">
                <li>
                    <a href="#" target="_blank" class="contact-icon">
                        <i class="fa-brands fa-whatsapp"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank" class="contact-icon">
                        <i class="fa-brands fa-facebook-f"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank" class="contact-icon">
                        <i class="fa-brands fa-google"></i></a>
                </li>
            </ul>
            <hr>

        </div>

    </div>

</section>