<div class="divdetails">

    <div class="img2">

    </div>

    <div class="wrapper">
        <h1>Order Details</h1><br>

        <p>Type of services </p>
        <p class="margin">Motor Oils </p><br><br>

        <p> Owner of Order </p>
        <p class="margin">Ahmed_123 </p><br><br>

        <p>Data Of Order </p>
        <p class="margin">13 to Wed, Feb 14</p><br><br>

        <hr><br>
        <p> Price </p>
        <p class="margin"> £237 </p><br><br>

        <p>Tax </p>
        <p class="margin">£20 </p><br><br>

        <p>TOTAL</p>
        <p class="margin">£257</p><br><br>

        <hr><br>

        <p>PAYMANT CARD</p>
        <img id="visaimg" src="/assets/visa (2).png"><br><br>

        <p>CARD NUMBER</p><br><br>

        <p>2310</p>
        <p class="cardnumspace">2310</p>
        <p class="cardnumspace">2310</p>
        <p class="cardnumspace">2310</p>
        <br><br>
        <p>Expiry</p>
        <p class="margin">CVV</p><br><br>

        <br>

    </div>


</div>